@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(./../fonts/material-icons.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
    url(./../fonts/montserrat-medium.ttf) format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'),
    url(./../fonts/montserrat-light.ttf) format('truetype');
}

button {
  outline: 0px transparent !important;
  transition: all 0.2s ease-out;
}

button:focus {
  outline: 0px transparent !important;
}

button:active {
  background-color: #ccc;
  transform: translateY(2px);
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  font-family: sans-serif;
}

html input:focus,
html textarea:focus,
html select:focus {
  outline: none;
}

main {
  width: 80%;
  background-color: #eee;
}

input {
  font-size: 1.5rem;
}
canvas {
  margin: 2rem 0;
}

body::-webkit-scrollbar {
  display: none;
}

div[class^='canvas-container-'] {
  text-align: center;
  margin-bottom: 3rem;
}

.canvas-container {
  display: inline-block;
}

#main-container {
  height: calc(100vh - 7rem);
  margin-top: 7rem;
  overflow-y: scroll;
}

#main-container::-webkit-scrollbar {
  width: 5px;
  background: #ccc;
}

#main-container::-webkit-scrollbar:horizontal {
  height: 10px;
}

#main-container::-webkit-scrollbar-button {
  display: none;
}

#main-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100rem;
}

.rangeslider__handle {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 20px !important;
  height: 20px !important;
  outline: none;
  box-shadow: none !important;
}

.rangeslider__handle::after {
  display: none;
}

.rangeslider {
  box-shadow: none !important;
  height: 5px !important;
}

.rangeslider__fill {
  background-color: #ff9f43 !important;
  box-shadow: none !important;
}
.divider {
  border: solid #ccc 1px;
  width: 90%;
  margin: 2rem auto;
}
.divider-invisible {
  border: solid #ccc 1px;
  width: 90%;
  margin: 10px auto;
  visibility: hidden;
}

.proceed {
  font-size: 2rem;
  color: #fff;
  background-color: rgba(85, 239, 196, 1);
  padding: 1rem 2rem;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
}

.proceed-btn {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
  min-height: 100%;
}
.load {
  display: none;
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-radius: 100%;
}
.open {
  border-top: 5px solid transparent;
  -webkit-animation: load-animate infinite linear 1s;
  animation: load-animate infinite linear 1s;
}
#check:checked ~ .btn-label > .btn-text {
  display: none;
}
#check:checked ~ .btn-label > .load {
  display: inline-block;
}
@-webkit-keyframes load-animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load-animate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    opacity: 0.35;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#check {
  display: none;
}
