.openmusic {
  padding: 1rem;
  background-color: transparent;
  width: 50px;
  height: 50px;
  transform: scale(1.2);
  border-radius: 100rem;
  color: #2d3436;
  cursor: pointer;
  margin-bottom: 1rem;
}

.openmusic > i {
  font-size: 2.5rem;
  margin: auto auto;
  font-weight: 500;
}

.music {
  background-color: #fff;
  transform: scale(0);
  border-radius: 10px;
  transition: all 0.3s ease-out;
  transform-origin: 0 0;
  position: relative;
  padding: 1rem;
  width: 0;
  height: 0;
  transform: scale(0);
}

.music-visible {
  width: 50rem;
  height: 30rem;
  transform: scale(1);
}

.music-wrapper {
  position: fixed;
  top: 5px;
  left: 80px;
  z-index: 3;
}

.music-option {
  display: grid;
  grid-template-columns: 1fr 4fr;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: #eee;
}

.music-option:not(:last-child) {
  margin: 1rem 0;
}

.music-option:hover {
  background-color: #ccc;
}

.music-option > p {
  font-size: 2rem;
  font-weight: bold;
  margin: auto 0;
}

.music-option > i {
  font-size: 4rem;
  margin: auto auto;
}
