* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
}

main {
  width: 80%;
  background-color: #eee;
}

input {
  font-size: 1.5rem;
}
.canvas-container {
  text-align: center;
}

canvas {
  margin: 2rem 0;
}

.canvas-container {
  background-color: #eee;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}

.buttons-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttons-grid > button {
  padding: 1rem 2rem;
  font-size: 2rem;
  border-left: solid #ccc 1px;
  border-right: solid #ccc 1px;
}

.sidebar {
  position: fixed;
}

.sidebar-title {
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
}

.icons-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #eee;
  border: solid #ccc 1px;
}

.image-icon {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
